.Rproj.user
.Rhistory
.RData
.Ruserdata
dados_datasetscomp_alldata.csv
dados_paper1.csv
dados_raw.csv
dados_v1.csv
dataset1.csv
tabela_sujeitos.csv
*.rdb
*.xls
*_cache/*
*_files/*
*_cache
*_files
*.png
